<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body style="display: flex; justify-content: center; align-items: center">
    <div style="width: 500px; margin: 100px 0; border-radius: 20px; background-color: lightblue; padding: 30px">
      <h1>{{title}}</h1>
      <p>{{content}}</p>
      <div style="padding: 8px 15px; background-color: blue; display: inline-block; border-radius: 10px">
        <a href="{{link}}" style="text-decoration: none; color: white">{{titleLink}}</a>
      </div>
    </div>
  </body>
</html>
